html, body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #464646;
    height: 100%;
}

input {
    font-size: 18px;
    background: #fff;
    padding: 10px;
    border: 1px solid #464646;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    width: 250px;
    margin: 5px;
}

input:focus {
    outline-width: 0;
    border: 1px solid #765EF4;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(118, 94, 244, .75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(118, 94, 244, .75);
    box-shadow: 0px 0px 15px 2px rgba(118, 94, 244, .75);
}

h2 {
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

.purpleButton, .purpleButton:link, .purpleButton:active, .purpleButton:visited {
    background: #765EF4;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0 10px 0;
    text-decoration: none;
    box-shadow: none;
    white-space: nowrap;
    display: block;
    width: 250px;
    margin: 10px auto 0 auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: background 0.5s, box-shadow 0.5s;
    -webkit-transition: background 0.5s, -webkit-box-shadow: 0.5s;
    -moz-transition: background 0.5s, -moz-box-shadow 0.5s;
}

.purpleButton:hover {
    background: #E4587B;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(228, 88, 123, .75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(228, 88, 123, .75);
    box-shadow: 0px 0px 15px 2px rgba(228, 88, 123, .75);
}

/*Navigation Bar*/
.navbar {
    background: #765EF4;
    padding: 0 20px 0 20px;
    height: 60px;
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}

logo {
    line-height: 60px;
    font-size: 30px;
    align-self: center;
    -webkit-align-self: center;
    -moz-align-self: center;
}

.navLinks {
    align-self: center;
    -webkit-align-self: center;
    -moz-align-self: center;
}

.navLink, .navLink:link, .navLink:active, .navLink:visited {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.greenButton, .greenButton:link, .greenButton:active, .greenButton:visited {
    background: #20C0E2;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: none;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: background 0.5s, box-shadow 0.5s;
    -webkit-transition: background 0.5s, -webkit-box-shadow: 0.5s;
    -moz-transition: background 0.5s, -moz-box-shadow 0.5s;
}

.greenButton:hover {
    background: #61D89B;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(97, 216, 155, .75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(97, 216, 155, .75);
    box-shadow: 0px 0px 15px 2px rgba(97, 216, 155, .75);
}

/*Main Content*/
.content {
    width: 100%;
    height: 100%;
    background-image: url('../images/neighborhood.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}

.form {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 0 30px 0;
    align-self: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    text-align: center;
    max-width: 500px;
}

.errors {
    color: #E4587B;
    height: 20px;
}